<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">prefectureId</th>
        <th scope="col">ListOrder</th>
      </tr>
    </thead>
    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <th scope="row"><%= city.id %></th>
          <td><%= city.name %></td>
          <td><%= city.prefecture_id %></td>
          <td><%= city.list_order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>